.itemlist-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 800px;
  text-align: center;
  justify-content: center;
}

.item-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.item-container p {
  width: 50px;
  text-align: center;
  justify-content: center;
}
