.product-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  background-color: black;
  width: 100%;
}

.product-navbar p {
  color: white;
  font-family: Oswald;
}

.product-category {
  display: flex;
  align-items: center;
}

.product-category p {
  padding: 5px;
}

.category-cart {
  display: flex;
}

.product-navbar h3 {
  color: white;
  font-family: Oswald;
}
