.itemcount-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.count-container {
  display: flex;
  margin: 5px;
  padding: 5px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.item-container p {
  width: 50px;
  text-align: center;
  justify-content: center;
}

.quantity {
  margin: 25px;
}

.quantity-container {
  background-color: #fff;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 34px;
  width: 143px;
}

.button-quantity button {
  font-size: 10px;
  border: solid 1px;
  background: none;
  border-radius: 20%;
}

.button-quantity button:hover {
  cursor: pointer;
  background-color: rgb(176, 181, 185);
}

.button-addtocart button {
  appearance: none;
  background-color: black;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-addtocart button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-addtocart button:hover {
  background-color: rgb(49, 48, 48);
}

.button-addtocart button:focus {
  box-shadow: rgba(58, 59, 58, 0.4) 0 0 0 3px;
  outline: none;
}

.button-addtocart button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-addtocart button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
