.itemlist-container {
  display: flex;
  margin: 10px;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
}

.product-container {
  margin: 5px;
  padding: 15px;
  font-family: Oswald;
  border: 1px solid rgb(90, 88, 88);
  border-radius: 2.5%;
}

.product-img {
  height: 300px;
  width: 300px;
  border: 0.5px solid black;
}

.product-title {
  font-size: 20px;
}
