.itemlist-container {
  display: flex;
  background-color: rgb(241, 245, 245);
  align-items: center;
  flex-direction: column;
  flex-flow: row wrap;
}

.title {
  text-align: center;
  justify-content: center;
  font-family: Oswald;
  font-display: bold;
  font-size: 25px;
  background-color: rgb(241, 245, 245);
}

.list-container {
  display: flex;
  flex-direction: row;
}

.product-container {
  font-family: Oswald;
  text-align: left;
  padding: 5px;
}

.item-img {
  height: 300px;
  width: 300px;
}

.item-title {
  font-size: 20px;
  color: rgb(71, 26, 7);
  font-weight: bold;
}

.item-price {
  color: black;
}
